CompileFlags:
    CompilationDatabase: build/tsdf
    Add: [
        --include-directory=src/tsdf/include/,
        --include-directory=src/tsdf/ext/phmap/,
        --include-directory=src/tsdf/ext/morton-nd/include/,
        --include-directory=src/tsdf/ext/lvr2/include/,
        --include-directory=src/tsdf/ext/lvr2/ext/HighFive/include/,
    ]