CompileFlags:
    CompilationDatabase: build/tsdf_map
    Add: [
        --include-directory=src/tsdf_map/include/,
        --include-directory=src/tsdf_map/ext/phmap/,
        --include-directory=src/tsdf_map/ext/mortonnd/include/,
        --include-directory=src/tsdf_map/ext/lvr2/include/,
        --include-directory=src/tsdf_map/ext/lvr2/ext/HighFive/include/,
    ]