[submodule "src/dlio"]
	path = src/dlio
	url = https://github.com/vectr-ucla/direct_lidar_inertial_odometry.git
[submodule "src/ouster"]
	path = src/ouster
	url = https://github.com/ouster-lidar/ouster-ros.git
[submodule "src/tsdf_map/ext/phmap"]
	path = src/tsdf_map/ext/phmap
	url = https://github.com/greg7mdp/parallel-hashmap.git
[submodule "src/tsdf_map/ext/morton-nd"]
	path = src/tsdf_map/ext/morton-nd
	url = https://github.com/morton-nd/morton-nd.git
[submodule "src/tsdf_map/ext/lvr2"]
	path = src/tsdf_map/ext/lvr2
	url = https://gitlab.informatik.uni-osnabrueck.de/Las_Vegas_Reconstruction/Develop.git
	branch = develop
