[submodule "src/dlio"]
	path = src/dlio
	url = https://github.com/vectr-ucla/direct_lidar_inertial_odometry.git
[submodule "src/ouster"]
	path = src/ouster
	url = https://github.com/ouster-lidar/ouster-ros.git
[submodule "src/file_player_mulran"]
	path = src/file_player_mulran
	url = https://github.com/RPM-Robotics-Lab/file_player_mulran.git
	branch = noetic
