# vscode settings
.vscode/

# input/output files
*.bag
*.bag.active
*.ply
*.pcd
*.h5
*.mtl
*.obj
*.grid
*.bin
sampledata/raw/
sampledata/samplestructure/raw/00000001/

# octomap war crimes
lib/
bin/

# catkin build files
.catkin_tools
build/
devel/
logs/
log/

# measurement outputs
heaptrack.*.*.gz
*.csv
*.pts
*.ply
